* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 800px;
}

.random-user {
  width: 136px;
  height: 210px;
  border: 1px solid rgb(148, 148, 148);
  margin: 4px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
}

.user-details {
  margin: 4px;
}

.user-image {
  margin-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-name {
  font-size: 12px;
  font-weight: 600;
}

.user-email {
  font-size: 12px;
  font-weight: 300;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-gender {
  font-size: 12px;
  font-weight: 300;
}

.user-dob {
  font-size: 12px;
  font-weight: 300;
}

.user-nat {
  font-size: 12px;
  font-weight: 300;
}