* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  width: 800px;
}

.user-name {
  font-size: 16px;
  font-weight: 500;
}

.user-email {
  font-size: 12px;
  font-weight: 300;
}

.random-user {
  width: 150px;
  height: 200px;
  border: 1px solid rgb(148, 148, 148);

}

.user-list {
  display: flex;
  flex-wrap: wrap;

}